{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GIS School Location Analysis</title>
    {% include 'schools/partials/style_imports.html' %}
</head>
<body class="grey lighten-3">
{% include 'schools/partials/navigation.html' %}
<!--Main layout-->
<main class="pt-5 mx-sm-12">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>{% block heading %}Dashboard{% endblock %}</span>
                </h4>

            </div>

        </div>
        {% block content %}{% endblock %}
    </div>

</main>

</body>

</html>
