{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>GIS School Location Analysis</title>
{% include 'schools/partials/style_imports.html' %}
</head>

<body class="grey lighten-3">

{% include 'schools/partials/navigation.html' %}

  <!--Main layout-->
  <main class="pt-5 mx-sm-12">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Dashboard</span>
          </h4>

        </div>

      </div>

{% include 'schools/partials/static_map.html' %}
    </div>

  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">


    <hr class="my-4">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->


</body>

</html>
