{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>GIS School Location Analysis</title>
{% include 'schools/partials/style_imports.html' %}
</head>

<body class="grey lighten-3">

{% include 'schools/partials/navigation.html' %}

  <!--Main layout-->
  <main class="pt-5 mx-sm-12">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Dashboard</span>
          </h4>

        </div>

      </div>

     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-inline-block">
                                        <h5 class="text-muted">Total Schools</h5>
                                        <h2 class="mb-0"> {{schools.count}}</h2>
                                    </div>
                                    <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                                        <i class="fas fa-school text-info" style="font-size:35px"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-inline-block">
                                        <h5 class="text-muted">Total Residential Areas</h5>
                                        <h2 class="mb-0"> 50</h2>
                                    </div>
                                    <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                                        <i class="fas fa-home text-primary" style="font-size:35px"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>

  </main>
  <!--Main layout-->

{% include 'schools/partials/footer.html' %}


</body>

</html>
