{% extends "./base.html" %}
{% block heading %} Distance Analysis {% endblock %}
{% block content %}
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-9 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

  {% include 'schools/partials/queryset_map.html' %}
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <!--Card-->
          <div class="card mb-4">
<div class="card-header text-center"> 5 closest Schools</div>
            <!--Card content-->
            <div class="card-body">

              <!-- List group links -->
              <div class="list-group list-group-flush">
                {% if schools %}
        {% for school in schools %}
                <a class="list-group-item list-group-item-action waves-effect">{{school.name}}
                  <span class="badge badge-primary badge-pill pull-right">{{school.distance.km | floatformat}} Km</span>
                </a>
                {% endfor %}
                {% endif %}


              </div>
              <!-- List group links -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
{% endblock %}
