{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>GIS School Location Analysis</title>
{% include 'schools/partials/style_imports.html' %}
</head>

<body class="grey lighten-3">

{% include 'schools/partials/navigation.html' %}
      {% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<style>
.leaflet-container{
    height: 500px;
}
</style>

  <!--Main layout-->
  <main class="pt-5 mx-sm-12">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Distance Analysis {{request}}</span>
          </h4>

        </div>

      </div>
       <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-9 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

              <div>
    {% leaflet_map "main" callback="map_init" %}
</div>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <!--Card-->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!-- List group links -->
              <div class="list-group list-group-flush">
                {% if schools %}
        {% for school in schools %}
                <a class="list-group-item list-group-item-action waves-effect">{{school.name}}
                  <span class="badge badge-primary badge-pill pull-right">{{school.distance}}</span>
                </a>
                {% endfor %}
                {% endif %}


              </div>
              <!-- List group links -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <script src="{% static "data/residential_areas_0.js" %}"></script>
<script type="text/javascript" >
 function style_residential_areas_0_0() {
            return {
                pane: 'pane_residential_areas_0',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: geoStyle(1.0),
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(253,191,111,1.0)',
                interactive: false,
            }
        }
        var m2px = 1;
        function newM2px() {
            var centerLatLng = map.getCenter();
            var pointC = map.latLngToContainerPoint(centerLatLng);
            var pointX = [pointC.x + 100, pointC.y];

            var latLngC = map.containerPointToLatLng(pointC);
            var latLngX = map.containerPointToLatLng(pointX);

            var distanceX = latLngC.distanceTo(latLngX)/100;

            reciprocal = 1 / distanceX;
            m2px = reciprocal;
        }
        function geoStyle(m) {
            return Math.ceil(m * m2px);
        }
</script>

<script type="text/javascript">
function map_init(map,options){
 map.setView(["8.9806","38.7578"],12);
{% if schools %}
        {% for school in schools %}
    L.marker([{{school.location.y}},{{school.location.x}}]).bindPopup("<p>{{school.name}}</p> <p>{{school.location}}</p>").openPopup().addTo(map);


        {% endfor %}

    {% endif %}

    let layer_residential_areas_0 = new L.geoJson(json_residential_areas_0, {
            attribution: '',
            interactive: false,
            dataVar: 'json_residential_areas_0',
            layerName: 'layer_residential_areas_0',
            pane: 'pane_residential_areas_0',
            style: style_residential_areas_0_0,
        });
        map.createPane('pane_residential_areas_0');
        map.getPane('pane_residential_areas_0').style.zIndex = 400;
        map.getPane('pane_residential_areas_0').style['mix-blend-mode'] = 'normal';

    map.addLayer(layer_residential_areas_0);
}
</script>

    </div>

  </main>
  <!--Main layout-->

{% include 'schools/partials/footer.html' %}

</body>

</html>
