<!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" style="background:white;">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'home'%}" target="_blank">
          <strong class="blue-text">GIS School Location Analysis</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="{% url 'home'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="{%url 'admin:index' %}"
                >Admin Portal</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">

            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">
      <br/>
      <br/>
        <br/>
      <br/>

      <div class="list-group list-group-flush">
        <a href="{%url 'home' %}" class="list-group-item  waves-effect {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
          <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
          <a href="{%url 'schools' %}" class="list-group-item list-group-item-action waves-effect {% if request.resolver_match.url_name == 'schools' %} active {% endif %}">
          <i class="fas fa-map mr-3"></i>Schools</a>
        <a    href="{%url 'distance_analysis_form' %}" class="list-group-item list-group-item-action waves-effect {% if request.resolver_match.url_name == 'distance_analysis' or request.resolver_match.url_name == 'distance_analysis_form' %} active {% endif %}">
          <i class="fas fa-map-marker mr-3"></i>Distance Analysis</a>
        <a href="{%url 'suitable_site_form' %}" class="list-group-item list-group-item-action waves-effect {% if request.resolver_match.url_name == 'suitable_site' or request.resolver_match.url_name == 'suitable_site_form' %} active {% endif %} ">
          <i class="fas fa-check mr-3"></i>Suitable Sites</a>
         <a href="{%url 'admin:index' %}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Admin</a>
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->